[submodule "ACQ400DRV"]
	path = ACQ400DRV
	url = https://github.com/D-TACQ/ACQ400DRV.git
	branch = main2
[submodule "ACQ400COMMON"]
	path = ACQ400COMMON
	url = https://github.com/D-TACQ/ACQ400COMMON.git
	branch = master
[submodule "Z7IO"]
	path = Z7IO
	url = https://github.com/D-TACQ/Z7IO.git
	branch = main
[submodule "ACQ400_HTTPD"]
	path = HTTPD
	url = https://github.com/D-TACQ/ACQ400_HTTPD.git
	branch = master
[submodule "acq400ioc"]
	path = acq400ioc
	url = https://github.com/D-TACQ/acq400ioc.git
	branch = epics7
[submodule "acq400_kernel"]
	path = acq400_kernel
	url = https://github.com/D-TACQ/acq400_kernel.git
	branch = acq400
[submodule "acq400_buildroot"]
	path = acq400_buildroot
	url = https://github.com/D-TACQ/acq400_buildroot.git
	branch = acq400
[submodule "EPICS7/acq400_epics_base"]
	path = EPICS7/acq400_epics_base
	url = https://github.com/D-TACQ/acq400_epics_base.git
	branch = acq400
[submodule "EPICS7/modules/seq"]
	path = EPICS7/modules/seq
	url = https://github.com/D-TACQ/EPICS-seq.git
	branch = master
[submodule "EPICS7/modules/StreamDevice"]
	path = EPICS7/modules/StreamDevice
	url = https://github.com/D-TACQ/StreamDevice.git
	branch = acq400
[submodule "EPICS7/modules/asyn"]
	path = EPICS7/modules/asyn
	url = https://github.com/D-TACQ/asyn.git
	branch = acq400
