[submodule "ACQ400DRV"]
	path = ACQ400DRV
	url = https://github.com/D-TACQ/ACQ400DRV.git
	branch = main2
[submodule "ACQ400COMMON"]
	path = ACQ400COMMON
	url = https://github.com/D-TACQ/ACQ400COMMON.git
	branch = master
[submodule "Z7IO"]
	path = Z7IO
	url = https://github.com/D-TACQ/Z7IO.git
	branch = main
[submodule "ACQ400_HTTPD"]
	path = HTTPD
	url = https://github.com/D-TACQ/ACQ400_HTTPD.git
	branch = master
[submodule "acq400ioc"]
	path = acq400ioc
	url = https://github.com/D-TACQ/acq400ioc.git
	branch = epics7
[submodule "acq400_kernel"]
	path = acq400_kernel
	url = https://github.com/D-TACQ/acq400_kernel.git
	branch = acq400
[submodule "acq400_buildroot"]
	path = acq400_buildroot
	url = https://github.com/D-TACQ/acq400_buildroot.git
	branch = acq400
[submodule "EPICS7/acq400_epics_base"]
	path = EPICS7/acq400_epics_base
	url = https://github.com/D-TACQ/acq400_epics_base.git
	branch = acq400
[submodule "EPICS7/modules/seq"]
	path = EPICS7/modules/seq
	url = https://github.com/D-TACQ/EPICS-seq.git
	branch = master
[submodule "EPICS7/modules/StreamDevice"]
	path = EPICS7/modules/StreamDevice
	url = https://github.com/D-TACQ/StreamDevice.git
	branch = acq400
[submodule "EPICS7/modules/asyn"]
	path = EPICS7/modules/asyn
	url = https://github.com/D-TACQ/asyn.git
	branch = acq400
[submodule "ACQ400_TRANSIENT"]
	path = ACQ400_TRANSIENT
	url = https://github.com/D-TACQ/ACQ400_TRANSIENT.git
[submodule "ACQ400_AI_MONITOR"]
	path = ACQ400_AI_MONITOR
	url = https://github.com/D-TACQ/ACQ400_AI_MONITOR.git
[submodule "ACQ1001"]
	path = ACQ1001
	url = https://github.com/D-TACQ/ACQ1001
[submodule "ACQ2x06"]
	path = ACQ2x06
	url = https://github.com/D-TACQ/ACQ2x06.git
[submodule "ACQ1002"]
	path = ACQ1002
	url = https://github.com/D-TACQ/ACQ1002.git
[submodule "ACQ400RELEASE"]
	path = ACQ400RELEASE
	url = https://github.com/D-TACQ/ACQ400RELEASE.git
[submodule "SPECIALS/CUSTOM_Z7IO_PAYLOAD"]
	path = SPECIALS/CUSTOM_Z7IO_PAYLOAD
	url = https://github.com/D-TACQ/CUSTOM_Z7IO_PAYLOAD.git
[submodule "SPECIALS/CUSTOM_GPG"]
	path = SPECIALS/CUSTOM_GPG
	url = https://github.com/D-TACQ/acq400_custom_GPG.git
[submodule "SPECIALS/CUSTOM_AWG"]
	path = SPECIALS/CUSTOM_AWG
	url = https://github.com/D-TACQ/acq400_custom_AWG.git
[submodule "SPECIALS/CUSTOM_DPG"]
	path = SPECIALS/CUSTOM_DPG
	url = https://github.com/petermilne/CUSTOM_DPG.git
[submodule "SPECIALS/BOLODSP"]
	path = SPECIALS/BOLODSP
	url = https://github.com/D-TACQ/BOLODSP.git
[submodule "SPECIALS/RADCELF"]
	path = SPECIALS/RADCELF
	url = https://github.com/D-TACQ/RADCELF.git
[submodule "SPECIALS/CUSTOM_GPSNTP"]
	path = SPECIALS/CUSTOM_GPSNTP
	url = https://github.com/petermilne/acq400_custom_GPSNTP.git
[submodule "SPECIALS/CUSTOM_ACQ480FIR"]
	path = SPECIALS/CUSTOM_ACQ480FIR
	url = https://github.com/D-TACQ/CUSTOM_ACQ480FIR.git
[submodule "SPECIALS/CUSTOM_WRPG"]
	path = SPECIALS/CUSTOM_WRPG
	url = https://github.com/D-TACQ/CUSTOM_WRPG.git
[submodule "SPECIALS/CUSTOM_MULTIEVENT"]
	path = SPECIALS/CUSTOM_MULTIEVENT
	url = https://github.com/D-TACQ/custom_multievent.git
[submodule "ACQ1014"]
	path = ACQ1014
	url = https://github.com/D-TACQ/ACQ1014.git
[submodule "SPECIALS/SWE_HAPI_package"]
	path = SPECIALS/SWE_HAPI_package
	url = https://github.com/D-TACQ/SWE_HAPI_package.git
[submodule "KMCU"]
	path = KMCU
	url = https://github.com/D-TACQ/KMCU
[submodule "SPECIALS/CUSTOM_LIA"]
	path = SPECIALS/CUSTOM_LIA
	url = https://github.com/D-TACQ/CUSTOM_LIA
[submodule "ACQ1102"]
	path = ACQ1102
	url = https://github.com/D-TACQ/ACQ1102.git
[submodule "DRIVERS-OOK"]
	path = DRIVERS-OOK
	url = https://github.com/D-TACQ/DRIVERS-OOK.git
[submodule "ACQ400_HTTPD_SEC"]
	path = ACQ400_HTTPD_SEC
	url = https://github.com/D-TACQ/ACQ400_HTTPD_SEC.git
[submodule "SPECIALS/CUSTOM_SSHKEYS"]
	path = SPECIALS/CUSTOM_SSHKEYS
	url = https://github.com/D-TACQ/custom_sshkeys.git
[submodule "SPECIALS/CUSTOM_MEAN"]
	path = SPECIALS/CUSTOM_MEAN
	url = https://github.com/D-TACQ/CUSTOM_MEAN.git
[submodule "EPICS7/modules/recsync"]
	path = EPICS7/modules/recsync
	url = https://github.com/ChannelFinder/recsync
